@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply m-0 p-0 text-gray-900 antialiased;
  background: #f4f3ef;
  overflow-x: clip;
  margin: 0;
}

#__next {
  min-height: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}
